<div class="container-fluid page-padding">
	<div class="card">
		<div class="card-body p-4">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-10 col-sm-12 text-center py-5">
					<div class="mb-5 text-center">
						<img src="assets/images/set-up-account.svg" class="img-fluid" />
					</div>
					<h3 class="text-custom-black fs-3 fw-normal">Let's get started with your KYC</h3>
					<p class="text-custom-black-50 fs-6">
						Our user-friendly platform is designed to make the process efficient and hassle-free, ensuring
						that your business meets regulatory requirements while maintaining the highest standards of data
						protection. Let's get started on ensuring your business's compliance and security, all in one
						place.
					</p>
					<div class="d-flex justify-content-center my-3">
						<button type="button" class="btn btn-custom-primary py-2 w-25" (click)="navigateTo()">
							Start
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
