<div class="container-fluid page-padding">
	<div class="row justify-content-between align-items-center">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h2 class="text-custom-black fs-3 fw-bold mb-0">Candidate Verification</h2>
		</div>
	</div>

	<div class="row align-items-center">
		<div class="card-group col-md-6 col-sm-6 col-lg-3 gx-3 my-4" *ngFor="let item of statsCards">
			<div
				class="card p-0 border-0 shadow-color"
				[ngClass]="{ cursor: !!item.path }"
				(click)="navigateTo(item.path)"
			>
				<div class="card-body py-2">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex flex-row align-items-center">
							<div class="">
								<img [src]="item?.icon" width="40" height="38" />
							</div>
							<div class="ms-2">
								<label class="text-custom-black fw-bold fs-4 ms-1 my-2">{{ item?.value }}</label>
								<p class="text-custom-black-50 fs-6">
									{{ item?.label }}
								</p>
							</div>
						</div>
						<div class="text-end" *ngIf="item?.lineIcon">
							<img [src]="item?.lineIcon" width="40" height="32" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-3 gx-3 my-4">
			<button type="button" *appIsGranted="'ADD'" class="btn btn-primary w-100" (click)="add()">
				+ Add Candidate Details
			</button>
			<div class="text-center pt-2">
				<a class="text-underline text-primary" role="button" (click)="bulkUpload()"><u>Bulk Upload</u></a>
			</div>
		</div>
	</div>

	<form [formGroup]="filterForm">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<label for="exampleFormControlInput1" class="form-label text-primary">Search</label>
				<div class="input-group flex-nowrap">
					<span class="input-group-text bg-transparent search-input-group" id="addon-wrapping">
						<mat-icon mat-list-icon class="text-custom-black-50">search</mat-icon>
					</span>
					<input
						type="text"
						class="form-control search-form-control bg-transparent"
						placeholder="Search"
						aria-label="search"
						formControlName="search"
						(keyup)="applyFilters()"
					/>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="form-group">
					<label class="form-label text-primary">Select Date</label>
					<app-date-picker [isRangePicker]="true" [dateForm]="filterForm" (change)="applyFilters()">
					</app-date-picker>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 mt-3">
				<button type="button" class="btn btn-outline-primary ms-4" (click)="clearFilter()">Clear</button>
			</div>
		</div>
	</form>

	<!-- <div class="mt-3">
		<div class="card card-sites shadow-color mb-4" *ngFor="let item of dataList['rows']">
			<div class="card-body">
				<div class="row justify-content-around align-items-center">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div>
							<label class="text-primary fw-bold">Name</label>
							<p>{{ item.name }}</p>
						</div>
						<div>
							<label class="text-primary fw-bold">Mobile Number</label>
							<p>{{ item?.mobileNumber }}</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12">
						<div class="d-flex flex-row justify-content-between">
							<div>
								<label class="text-primary fw-bold">Date</label>
								<p>{{ item.createdAt | date: 'dd MMM YYYY' }}</p>
							</div>
							<div>
								<label class="text-primary fw-bold">Status</label>
								<p class="text-capitalize">
									<app-custom-circular-progress [verificationCount]="item?.verificationCount">
									</app-custom-circular-progress>
									{{ item?.verificationStatus.replaceAll('_', ' ') }}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12">
						<div class="d-flex flex-column ualign-items-center">
							<button type="button" class="btn btn-primary w-100" (click)="view(item)">
								Complete verification
							</button>
							<button type="button" class="btn btn-outline-primary w-100 mt-2" (click)="sendEmail(item)">
								Send report
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-sites shadow-color mb-4" *ngIf="dataList['count'] === 0">
			<div class="card-body text-center">
				<label class="text-primary fw-bold">{{ OPTIONS?.noRecord }}</label>
			</div>
		</div>
		<div class="d-flex justify-content-center align-items-start w-100 p-3" *ngIf="dataList['count'] > 0">
			<ng-container>
				<div class="d-flex align-items-center previous-next-items text-primary" role="button"
					(click)="onPageChange(page - 1, 'prev')" [ngClass]="{ 'text-primary-100': isPrevious() }">
					<mat-icon mat-list-icon>arrow_back</mat-icon>
					<span class="ps-1">Previous</span>
				</div>
			</ng-container>
			<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
				(pageChange)="onPageChange($event)" [maxSize]="5" [directionLinks]="false">
			</ngb-pagination>
			<ng-container>
				<div class="d-flex align-items-center previous-next-items text-primary" role="button"
					(click)="onPageChange(page + 1, 'next')" [ngClass]="{ 'text-primary-100': isLastPage() }">
					<span class="pe-1">Next</span>
					<mat-icon mat-list-icon>arrow_forward</mat-icon>
				</div>
			</ng-container>
		</div>
	</div> -->

	<ng-container>
		<div class="table-responsive mt-3">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">
							<div class="form-check">
								<input
									class="form-check-input form-custom-check-input"
									type="checkbox"
									[id]="'all'"
									(change)="addAndRemoveAll($event)"
								/>
							</div>
						</th>
						<th scope="col">Name</th>
						<th scope="col">Date</th>
						<th scope="col" class="text-nowrap">Status</th>
						<th scope="col">Verification</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody *ngIf="dataList['count'] > 0">
					<tr *ngFor="let item of dataList?.rows">
						<td>
							<div class="form-check">
								<input
									class="form-check-input form-custom-check-input"
									type="checkbox"
									[id]="i"
									(change)="addAndRemove($event, item)"
									[checked]="item?.selected"
								/>
							</div>
						</td>
						<td class="text-capitalize text-wrap" role="button" (click)="view(item)">
							<p class="mb-0 fw-bold fs-7 text-primary-500">{{ item.name || '-' | truncate }}</p>
							{{ item?.mobileNumber | truncate }}
						</td>
						<td class="text-capitalize text-wrap" role="button" (click)="view(item)">
							{{ item.createdAt | date: 'dd MMM YYYY' }}
						</td>
						<td role="button" (click)="view(item)">
							<div
								class="d-flex align-items-center mb-1"
								*ngIf="[verificationStatus.PARTIALLY_VERIFIED].includes(item.verificationStatus)"
							>
								<app-custom-progress
									style="width: 100%"
									[customClass]="getClass(item)"
									[percentage]="item?.verificationCount?.percentage"
									*ngIf="item?.verificationCount?.percentage < 100"
								>
								</app-custom-progress>
							</div>
							<!-- <div class="text-capitalize mb-0 d-flex flex-row">
								<span
									class="me-1 text-custom-black-80 fw-bold"
									*ngIf="[verificationStatus.PARTIALLY_VERIFIED].includes(item.verificationStatus)"
								>
									{{ item?.verificationCount?.percentage | number }}%
								</span>
								<span *ngIf="item?.verificationCount?.percentage == 100"
									><img src="assets/icons/full-verified.svg" alt=""
								/></span>
								<span
									*ngIf="
										[verificationStatus.DID_NOT_VERIFY].includes(item.verificationStatus) &&
										item?.verificationCount?.percentage < 100
									"
								>
									{{ item?.verificationStatus.replaceAll('_', ' ') }}</span
								>
								<span
									*ngIf="
										[verificationStatus.PARTIALLY_VERIFIED].includes(item.verificationStatus) &&
										item?.verificationCount?.percentage < 100
									"
									>Verified</span
								>
								<span *ngIf="item?.verificationCount?.percentage == 100" height="21" width="22"
									>Verified</span
								>
							</div> -->
							<div class="text-capitalize mb-0 d-flex flex-row">
								<span *ngIf="[verificationStatus.DID_NOT_VERIFY].includes(item.verificationStatus)">
									{{ item?.verificationStatus.replaceAll('_', ' ') }}
								</span>
								<span
									class="text-custom-black-80 fw-bold me-1"
									*ngIf="[verificationStatus.PARTIALLY_VERIFIED].includes(item.verificationStatus)"
								>
									{{ item?.verificationStatus.replaceAll('_', ' ') }}
								</span>
								<span *ngIf="[verificationStatus.PROTO_VERIFIED].includes(item.verificationStatus)">
									<img src="assets/icons/full-verified.svg" alt="" />
								</span>
								<span *ngIf="[verificationStatus.PROTO_VERIFIED].includes(item.verificationStatus)">
									Verified
								</span>
							</div>
							<ng-container
								*ngIf="
									checkAllDocumentAreSubmitted(item?.verificationCount?.verificationList);
									else showPendingFromCandidate
								"
							>
								<p
									*ngIf="item?.verificationCount?.percentage < 100"
									class="mb-0"
									[ngClass]="{
										'text-success': getDaysDiff(item.submittedAt) <= 5,
										'text-warning':
											getDaysDiff(item?.verificationCount?.submittedAt) > 5 &&
											getDaysDiff(item?.verificationCount?.submittedAt) < 10,
										'text-danger': getDaysDiff(item?.verificationCount?.submittedAt) > 10
									}"
								>
									Pending since {{ getDaysDiff(item?.verificationCount?.submittedAt) }} days
								</p>
							</ng-container>
							<ng-template #showPendingFromCandidate>
								<p>
									{{ getPendingCount(item?.verificationCount.verificationList) }} Details Pending from
									Candidate
								</p>
							</ng-template>
						</td>
						<td class="text-wrap">
							<div class="d-flex flex-row align-items-baseline">
								<div
									class="d-flex flex-column pe-1 justify-content-center align-items-start"
									*ngFor="let verification of item?.verificationCount?.verificationList"
									[ngbPopover]="popContent"
									[popoverContext]="{ verification }"
									triggers="mouseenter:mouseleave"
									popoverClass="verification-popover"
									(click)="navigateToVerificationPage(item, verification)"
									role="button"
								>
									<div
										*ngIf="
											verification?.icon != 'assets/verification/active/user_based_onboarder.png'
										"
									>
										<img
											[src]="VERIFICATION_BASE_URL + '/' + verification?.icon"
											width="16"
											height="16"
										/>
									</div>
									<div
										class="m-auto"
										*ngIf="verification.status && verification.status === 'pending'"
										[hidden]="
											verification?.icon === 'assets/verification/active/user_based_onboarder.png'
										"
									>
										<img src="assets/icons/blue-dot.svg" class="img-fluid" />
									</div>
								</div>
								<ng-template #popContent let-verificationCheck="verification">
									<app-verification-status-popover
										[verificationCheck]="verificationCheck"
									></app-verification-status-popover>
								</ng-template>
							</div>
						</td>
						<td>
							<div class="d-flex flex-row gap-3 ualign-items-center">
								<span (click)="edit(item)" *appIsGranted="'EDIT'" role="button" ngbTooltip="Edit">
									<iconify-icon
										class="fs-5 text-custom-black-50"
										icon="iconamoon:edit-light"
									></iconify-icon>
								</span>
								<span
									(click)="reGenerateReport(item)"
									role="button"
									ngbTooltip="Generate/re-generate report"
								>
									<iconify-icon
										class="fs-5 text-custom-black-50"
										icon="humbleicons:refresh"
									></iconify-icon>
								</span>

								<span
									*ngIf="item.reportLink"
									(click)="sendReport(item)"
									role="button"
									ngbTooltip="Send Report"
								>
									<iconify-icon class="fs-5 text-custom-black-50" icon="bi:send"></iconify-icon>
								</span>

								<span
									*ngIf="item.reportLink"
									(click)="downloadReport(item)"
									role="button"
									ngbTooltip="Download report"
								>
									<iconify-icon class="fs-5 text-custom-black-50" icon="bi:download"></iconify-icon>
								</span>

								<div class="spinner-border" role="status" *ngIf="getCheckReportGeneration(item.id)">
									<span class="sr-only"></span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="dataList['count'] === 0">
					<tr>
						<td class="text-center" [attr.colspan]="6">{{ OPTIONS?.noRecord }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-end mt-2 gap-2">
			<div class="form-group mb-0">
				<select
					class="form-select text-capitalize"
					aria-label="select role"
					[(ngModel)]="pageSize"
					(change)="loadData()"
				>
					<option [value]="item" *ngFor="let item of pages">
						<span>{{ item }}</span>
					</option>
				</select>
			</div>
			<button
				class="btn btn-white border-primary bg-white d-flex align-items-center justify-content-center"
				(click)="exportBulk()"
				[disabled]="selectedData.length === 0"
			>
				<iconify-icon
					class="fs-5 pe-2"
					[ngClass]="{
						'text-primary': selectedData.length > 0,
						'text-grey': selectedData.length === 0
					}"
					icon="bi:download"
				></iconify-icon>
				<span class="text-small fw-bold" [ngClass]="selectedData.length > 0 ? 'text-primary' : 'text-grey'"
					>Export</span
				>
			</button>
		</div>
		<app-pagination
			[collectionSize]="collectionSize"
			[(page)]="page"
			*ngIf="dataList['count'] > 0"
			[pageSize]="pageSize"
			(pageChange)="onPageChange($event)"
			[maxSize]="5"
		></app-pagination>
	</ng-container>
</div>
