<div class="card border-0">
	<div class="card-body">
		<label class="text-custom-primary-dark fw-bold fs-6"
			>List of Negative Education Institutions & Negative Companies</label
		>

		<div class="table-responsive mt-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Report</th>
						<th scope="col">Published on</th>
						<th scope="col">Download</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of dataList?.rows">
						<td class="text-capitalize text-wrap">
							{{ item?.label }}
						</td>
						<td class="text-capitalize text-wrap">
							{{ item.publishedOn }}
						</td>
						<td class="text-wrap">
							<img
								src="assets/icons/download.svg"
								role="button"
								ngbTooltip="Download File"
								(click)="downloadFile(item)"
							/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
