<div class="container-fluid page-padding">
	<div class="row justify-content-between align-items-center">
		<div class="col-lg-3 col-md-4 col-sm-12">
			<h2 class="text-custom-black fs-3 fw-bold">Manage Plans</h2>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-12 text-end" *appIsGranted="'ADD'">
			<button type="button" class="btn btn-primary" (click)="add()">+ Create New Plan</button>
		</div>
	</div>
	<form [formGroup]="filterForm">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="form-group">
					<label class="form-label text-custom-black">Search</label>
					<div class="input-group flex-nowrap">
						<span class="input-group-text bg-transparent search-input-group" id="addon-wrapping">
							<mat-icon mat-list-icon class="text-custom-black-50">search</mat-icon>
						</span>
						<input
							type="text"
							class="form-control search-form-control bg-transparent"
							placeholder="Search"
							aria-label="search"
							formControlName="search"
							(keyup)="applyFilters()"
						/>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="form-group">
					<label for="exampleFormControlInput1" class="form-label text-primary">Filter By Clients</label>
					<ng-select
						class="form-control text-capitalize bg-primary-200"
						[items]="organizationList['rows']"
						[virtualScroll]="true"
						[multiple]="true"
						bindLabel="name"
						bindValue="id"
						[dropdownPosition]="'bottom'"
						[searchable]="true"
						[editableSearchTerm]="true"
						formControlName="selectedOrganization"
						appendTo="body"
						placeholder="Filter by clients"
						(scrollToEnd)="onScrollClient()"
						(add)="applyFilters()"
						(remove)="applyFilters()"
						(clear)="applyFilters()"
						(search)="getClientList($event)"
					>
						<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
							<input
								id="item-{{ index }}"
								class="form-check-input"
								type="checkbox"
								[ngModel]="item$.selected"
								[ngModelOptions]="{ standalone: true }"
							/>
							{{ item?.businessDetails?.registeredName || item?.name }}
						</ng-template>
						<ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
							<div class="ng-value ps-2" *ngFor="let item of items | slice: 0:4">
								<span class="ng-value-label">{{
									item?.businessDetails?.registeredName || item?.name
								}}</span>
								<span class="ng-value-icon ps-2" aria-hidden="true">,</span>
							</div>
							<div class="ng-value ps-2" *ngIf="items.length > 4">
								<span class="ng-value-label ps-2">{{ items.length - 4 }} more...</span>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 mt-3">
				<button class="btn btn-outline-primary w-100" (click)="clearFilter()">Clear Filter</button>
			</div>
		</div>
	</form>
	<div class="tabs-locations mt-2">
		<!-- <div class="card-body"> -->
		<ul ngbNav #nav="ngbNav" [(activeId)]="selectedTab" class="nav-pills bg-primary-100 p-3">
			<li ngbNavItem="requested-plan">
				<a ngbNavLink [routerLink]="'/manage-plans/requested-plan'"> Requested Plans </a>
				<ng-template ngbNavContent>
					<app-manage-plan-request-list #requestPlanListComponent></app-manage-plan-request-list>
				</ng-template>
			</li>
			<li ngbNavItem="assigned-plan" class="mx-4">
				<a ngbNavLink [routerLink]="'/manage-plans/list'">Assigned Plans</a>
				<ng-template ngbNavContent>
					<app-manage-plans-list #planListComponent></app-manage-plans-list>
				</ng-template>
			</li>
			<li ngbNavItem="standard-plan" class="mx-4">
				<a ngbNavLink [routerLink]="'/manage-plans/standard-list'">Standard Plans</a>
				<ng-template ngbNavContent>
					<app-manage-plans-standard-list #planListComponent></app-manage-plans-standard-list>
				</ng-template>
			</li>
		</ul>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
</div>
