<div class="text-center">
	<h2 class="fw-bold">PRIVACY POLICY</h2>
</div>
<p>
	This Privacy Policy is adopted by Protoverify Solutions Private Limited <strong>(PSPL/Us/Our/We/Company)</strong>,
	the owner and operator of <a href="https://protoverify.com/">Protoverify.com</a> (Website) and you
	<strong>(you/your/user/viewer/corporate client/candidate)</strong>, a user of the Website. The Company is committed
	to respecting your online privacy and recognizes the need for appropriate protection and management of any
	personally identifiable information you share with us. This Privacy Policy describes how the Company collects, uses,
	discloses and transfers to third persons the Personal Information of users through its Website and applications,
	including Assess i.e., its web portal or through its mobile applications and online services (collectively, referred
	to as <strong>the Platform</strong>).
</p>

<h3 class="fw-bold">APPLICABILITY:</h3>

<p>
	This Privacy Policy applies to those who visit the Platform, or whose information PSPL otherwise receives in
	connection with its services (such as contact information of Candidates/ Clients) (hereinafter collectively referred
	to as
	<strong>Users</strong>).
</p>

<h3 class="fw-bold">INTERPRETATION:</h3>

<p>
	This Privacy Policy shall be read in conjugation with the Terms of Use/ TOU and all capitalised terms not defined
	herein, shall be construed to have the same meaning as that under the TOU. By visiting and/or using our Website, you
	agree to the provisions of this Privacy Policy.
</p>

<h3 class="fw-bold">PERSONAL INFORMATION:</h3>

<p>
	<strong>Personal Information</strong> means any information relating to an identified or identifiable natural person
	including common identifiers such as a name, an identification number, location data, an online identifier or one or
	more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that
	natural person and any other information that is so categorized by applicable laws.
</p>

<h3 class="fw-bold">GROUNDS OF COLLECTING PERSONAL INFORMATION:</h3>

<ol>
	<li>
		<strong>Consent:</strong> By accessing and using the Platform, You provide your specific and express consent to
		process your Personal Information in a manner provided in this Policy.
	</li>
	<li>
		<strong>Compliance with applicable laws:</strong> In addition to the purposes/uses specified in this Policy,
		your Personal Information may be processed by PSPL, to the extent that such processing is necessary to allow
		PSPL to comply with a legal obligation. An example of this would be if PSPL is required to disclose your
		Personal Information to respond to a court order or if PSPL is required to retain specific records for a fixed
		period to comply with requirements under any applicable law, or if so required by the Clients, pursuant to a
		recruitment procedure (as applicable).
	</li>
</ol>

<h3 class="fw-bold">INFORMATION WE COLLECT:</h3>
<p>
	We collect information, including Personal Information (<strong>Information</strong>), as mentioned herein-below,
	based upon your interaction with us through the Platform:
</p>
<ul>
	<li>
		<strong>Information you post:</strong> We collect Information you post in a public space or on a third-party
		social media site/ platform that you may choose to register with us, or to authenticate your profile.
	</li>
	<li>
		<strong>Information posted while registering/ signing up:</strong> In addition to the purposes/uses specified in
		this Policy, your Personal Information may be processed by PSPL, to the extent that such processing is necessary
		to allow PSPL to comply with a legal obligation. An example of this would be if PSPL is required to disclose
		your Personal Information to respond to a court order or if PSPL is required to retain specific records for a
		fixed period to comply with requirements under any applicable law, or if so required by the Clients, pursuant to
		a recruitment procedure (as applicable).
	</li>
	<li>
		<strong>Information shared while taking assessments on the Platform:</strong>
		We collect Information that you submit while taking assessments on the Platform, pursuant to a recruitment
		procedure, or otherwise.
	</li>
	<li>
		<strong> Other Information:</strong>
		If you use our Platform, we may collect Information about your IP address, browser and duration of usage of our
		Platform. We might also collect the type of mobile device you are using, and the version of the operating system
		of your computer or device. We make no attempt to link these addresses with the identity of individuals visiting
		our Platform, unless an attempt to damage the Platform, or the reputation of PSPL and/ or its officers/
		directors/ affiliates, is suspected.
	</li>
	<li>
		 We do not knowingly solicit, collect, or share information from any individuals under the age of 18
		(<strong>Minor</strong>). Any information provided by a Minor shall be deemed to have been provided by the
		guardian of the Minor and subject to parental consent/supervision.
	</li>
</ul>

<h3 class="fw-bold">WE COLLECT INFORMATION IN DIFFERENT WAYS:</h3>

<ul>
	<li>
		We collect Information directly from you:
		<ol>
			<li>
				We collect Information directly from you when you register on the Platform and other details shared by
				you on the Platform.
			</li>
			<li>
				ii. We also collect Information if you post a comment on our Platform or contact us through phone or
				email, for communication purposes.
			</li>
			<li>
				We collect Information when you voluntarily choose to link your social media profiles with us, for
				registering on the Platform.
			</li>
			<li>
				iv. We collect Information when you undertake assessments, or review the assessments as part recruitment
				procedure, on the Platform (as may be applicable).
			</li>
		</ol>
	</li>

	<li>
		WE COLLECT INFORMATION FROM YOU PASSIVELY
		<ol>
			<li>
				We use tracking tools like browser cookies and web beacons for collecting Information about your usage
				of our Platform.
			</li>
			<li>
				When you visit the Platform, we use cookies to automatically collect, store and use technical
				information about your system and IP address, device and device location, and interaction with our
				Platform;
			</li>
			<li>
				When you use a device to access the Platform, we may collect technical or other related information from
				the device as well as the device location.
			</li>
			<li>
				The cookies you consent to, are also used to collect your Personal Information, for the purpose of
				recruitment opportunities, and we will not share your details with any advertiser or advertising
				concern.
			</li>
			<li>
				We use cookies to compile anonymous, aggregated statistics that allow us to understand how the Users use
				our Platform and to help us improve the interface, content, assessments tools, etc.
			</li>
		</ol>
	</li>
</ul>

<h3 class="fw-bold">COOKIE MANAGEMENT ON THE WEBSITE:</h3>

<p>
	A Cookie, or HTTP/ Internet Cookie, is a small text file that is built specifically for Internet web browsers to
	track, personalize, and save information about each user's session (i.e., time spent on a website) and may be used,
	for example, to collect information about website activity. Some cookies and other technologies may serve to recall
	Personal Information previously indicated by a user. Most browsers allow you to control cookies, including whether
	or not to accept them and how to remove them. There are many ways to manage your cookies:
</p>
<ol>
	<li>You can refuse your consent; or</li>
	<li>You can disable PSPL or third-party cookies by use of your browser’s cookie settings; or</li>
	<li>
		You can use our cookie management tool to disable PSPL or third-party cookies and allow only the absolutely
		necessary ones.
	</li>
</ol>

<p>
	Most internet browsers are initially set up to automatically accept cookies. If you do not want our Platform to
	store cookies on your device, you can change your browser settings in order to receive a notification before certain
	cookies are stored. You can also adjust your settings so that your browser refuses most of our cookies and only
	accepts certain and/ or necessary cookies. You can also withdraw your consent to cookies by deleting the cookies
	that have already been stored. However, disabling cookies might impact your experience while on the Platform, like
	restricting the use or facilities, or unique User-experience that you may avail through the same.
</p>

<h3 class="fw-bold">USE OF YOUR PERSONAL INFORMATION:</h3>
<ul>
	<li>
		<strong>We use Information to contact you</strong>: We might use the Information you provide for communicating
		with you, including without limitation for the purpose of or in connection with an assessment, alert and/or the
		development of the Website for better user experience.
	</li>
	<li>
		<strong>We use Information to respond to your requests or questions</strong>: We might use your Information to
		communicate with you, with respect to your queries and/ or requests and providing customer support.
	</li>
	<li>
		<strong>Providing services on the Platform</strong>:We might use the Information you provide for providing our
		services including to send you alerts related to career, mental health, wellbeing and work opportunities which
		we find suitable on the basis of your use of the PSPL Platform (as the case maybe), and other allied services.
	</li>
	<li>
		<strong>Advertisements</strong>: We might use your Information to inform you of updates to our services,
		security alerts, and other support and administrative messages of the Company. We may also use the Information
		to communicate with you about products, services, offers, promotions, and events, and provide other news and
		information we think will be of interest to you.
	</li>
	<li>
		<strong>Shortlisting profile</strong>: We use the Information provided by you on the Platform, to shortlist your
		profile for work opportunities or alerts related to career, mental health and well-being, based upon the
		assessments undertaken by you on the Platform.
	</li>

	<li>
		<strong>Assessments</strong>: We use the Information to update the AI platform to analyse your profile and also
		to provide you with the results of assessments conducted on the AI platform.
	</li>
	<li>
		<strong>Improvement of our Services</strong>: We may use the Information to monitor and analyse trends, usage,
		and activities in connection with the services we provide.
	</li>
	<li>
		<strong>Preventing fraud</strong>: We may collect and use the Information shared by you for preventing,
		detecting, investigating and taking action against crimes (including but not limited to fraud and other
		financial crimes), any other illegal activities, suspected fraud, or violations of PSPL’s Terms of Use in any
		jurisdiction.
	</li>
</ul>

<h3 class="fw-bold">PERIOD OF STORING INFORMATION:</h3>

<p>
	PSPL will retain your Information no longer than it is required for the purposes for which the Information may
	lawfully be used or is otherwise required under any law in force. In some cases such Information must be kept for
	considerable periods of time, including, without limitation, until the resolution of disputes, if any, and/or
	pursuant to a recruitment procedure, and the like. Retention periods of such Information shall be determined for
	each Information that is collected, bearing in mind the requirements applicable to the situation and the need to
	destroy outdated, unused Information at the earliest reasonable opportunity. We design our services in a manner in
	which we will hold your Information only till and as required.
</p>

<h3 class="fw-bold">SHARING OF INFORMATION WITH THIRD PARTIES:</h3>

<p>
	We restrict access to your Personal Information to employees/ Clients (if and as applicable) who we believe
	reasonably need to know such Personal Information, in furtherance of or in relation with the services through our
	Platform, as applicable from case to case.
</p>
<span> PSPL does not disclose, transfer or share your Personal Information with others, except for: </span>
<ol>
	<li>
		its internal business and/or administrative purposes and/or general corporate operations may share the
		information with its holding, subsidiary and associate companies;
	</li>

	<li>
		provision of services aimed at helping and supporting you in securing the appropriate alerts related to career,
		mental health, wellbeing and work opportunities which we find suitable on the basis of your use of the Platform,
		or selecting the appropriate Candidate (as the case may be);
	</li>
	<li>
		Potential recruiters amongst Clients, if we determine that your profile and assessments undertaken matches with
		a particular work opportunity available with such recruiters. By registering on the Platform and consenting to
		the terms of this Privacy Policy, you agree that PSPL may contact you with respect to such work opportunities;
	</li>

	<li>
		Third parties including enforcement, regulatory and judicial authorities, if we determine that disclosure of
		your Personal Information is required to a) respond to subpoenas, court orders, or legal process, or to
		establish or exercise our legal rights or defend against legal claims; or b) investigate, prevent, or take
		action regarding illegal activities, suspected fraud, situations involving potential threats to the physical
		safety of any person, violations of PSPL’s Terms of Use or as otherwise required by law;
	</li>
	<li>
		In the event of a merger, acquisition, financing, or sale of assets or any other situation involving the
		transfer of some or all of PSPL’s business assets we may disclose Personal Information to those involved in the
		negotiation or transfer.
	</li>

	<li>
		Third party service providers and marketing partners that PSPL engages in connection with its services on the
		Platform. PSPL shall take reasonable steps to ensure that these third-party service providers are obligated to
		protect your Personal Information (to the exception of regulatory authorities) and are also subject to
		appropriate confidentiality / non-disclosure obligations.
	</li>
</ol>

<h3 class="fw-bold">FINANCIAL INFORMATION:</h3>
<p>
	PSPL does not collect any account related information or any credit / debit card details that you may input while
	registering a corporate account on the Platform (if and when applicable). However, payment gateways are linked to
	the Platform wherein Clients may avail of while registering on the Platform. For the sake of easy accessibility and
	convenience of the Users, the Platform facilitates the saving of details of credit/ debit card or any other payment
	options available, for future transactions. PSPL shall not be liable for any loss or damage sustained by Users as a
	result of any disclosure (inadvertent or otherwise) of any information concerning the User's account, credit cards
	or debit cards in the course of any online transactions or payments made for any services offered through the
	Platform and that the same shall be governed by the privacy policy and terms of the applicable payment gateway used
	by the User. In case any Personal Information is shared by you with PSPL, which is not requested by PSPL during
	registration, (whether mandatorily or optionally), PSPL will not be liable for any information security breach or
	disclosure in relation to such information.
</p>

<h3 class="fw-bold">SECURING INFORMATION COLLECTED:</h3>
<p>
	We value the integrity and security of your Information and that of your family members (if provided to us) and
	therefore, we have designed the Platform and our services with a dedicated team and resources to oversee the
	safekeeping and confidentiality of your Personal Information. We undertake best efforts and industry practices to
	protect and secure your Information, irrespective of where such Information is transferred or stored. At PSPL, we
	have the physical, electronic, and procedural safeguards in compliance with the laws prevalent in India to protect
	your Personal Information. Your access to the Platform shall signify your agreement with our standards and practices
	being commensurate with the applicable laws, including without limitation the Information Technology Act, 2000 and
	Rules made thereunder.
	<span>
		However, we hope you agree and understand that, like every technology-based platform, the Platform may be
		subjected to technical errors/ breaches that is not under PSPL’s control. If you have any concerns that your
		account or Personal Information shared on the Platform has been put at risk or breached, please get in touch
		with the Grievance Officer appointed under this Privacy Policy to support us in resolving the same.
	</span>
</p>

<h3 class="fw-bold">GOVERNING LAW:</h3>
<p>
	We are based in India and the information we collect is governed by Indian Laws. By accessing or using the Platform
	or otherwise providing Information to us, you consent to the processing, transfer, and storage of information in and
	to India and other countries, where you may not have the same rights as you do under local law.
</p>

<h3 class="fw-bold">GRIEVANCE OFFICER:</h3>
<ol>
	<li>
		In accordance with Information Technology Act, 2000, and the Information Technology (Reasonable Security
		Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, the name and contact details
		of the Grievance Officer appointed by the Company are provided below:
		<br /><br />
		<span>
			Grievance Officer,<br />
			2nd Floor, Block A, Sai Trinity<br />
			Pashan, Pune 411021<br />
			Maharashtra, India<br />
			Phone: +91 020 66803600<br />
			Email: info&#64;Protoverify.com
		</span>
	</li>

	<li>
		You also have certain rights with respect to the Personal Information provided by you. You may request PSPL to
		remove/update/rectify/edit/complete/port/restrict from processing your data. You may send your requests/
		grievances (if any) to the above stated Grievance Officer and your requests will be processed and/ or grievances
		shall be resolved by PSPL within one month of receiving the requests, unless communicated otherwise.
	</li>
</ol>

<h3 class="fw-bold">YOUR RIGHTS:</h3>
<p>
	You are in control of your Personal Information. You have the right to: a) rectify, update or correct your Personal
	Information; b) obtain confirmation on whether or not your Personal Information is being or shall be processed; c)
	access your Personal Information or exercise your right to data portability; or d) exercise your right to restrict
	the continuing disclosure of your Personal Information to any third party; e) request us for a copy of your Personal
	Information; f) delete your Personal Information or to request that we only use it for certain purposes, or ask us
	to completely stop using the same.
</p>

<h3 class="fw-bold">UPDATES TO THIS POLICY:</h3>
<p>
	This Privacy Policy may be updated from time to time. We will notify you of any material changes to the same, if and
	as required by law. We will also post an updated copy of the same on our website. Please check our website
	periodically, for updates.
</p>

<p>
	<i
		>Disclaimer: This Privacy Policy has been published in accordance with the provisions of Rule 3 (1) of the
		Information Technology (Intermediaries guidelines) Rules, 2011, Rule 4(1) of the Information Technology
		(Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 and other
		applicable laws.</i
	>
</p>
