<div class="container-fluid page-padding">
	<div class="card">
		<div class="card-body">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-ms-12 col-sm-12">
					<div class="text-center">
						<label class="text-custom-black-80 mb-1"> Hello {{ currentUser?.name }}, </label>

						<h3 class="text-custom-black fs-3 fw-normal">Welcome on board!</h3>

						<p class="text-custom-black-50 fs-6">
							Thank you for choosing Protoverify. We're excited to embark on this journey together,
							building trust and enabling better decisions. Feel free to explore our platform and discover
							the future of background verification.
						</p>
					</div>

					<div class="ratio ratio-16x9">
						<embed
							[src]="data.sourcePath + '#toolbar=0' | safe: 'resourceUrl'"
							title="getting started"
							allow="encrypted-media"
							allowfullscreen
						/>
					</div>
					<div class="d-flex justify-content-center my-4">
						<button
							type="button"
							class="btn btn-outline-primary py-3 w-50 me-4"
							routerLink="/getting-started/favourite-plans"
							routerLinkActive="router-link-active"
						>
							Favourite Plans
						</button>
						<button
							type="button"
							class="btn btn-custom-primary py-3 w-50 ms-4"
							routerLink="/getting-started/account-setup"
							routerLinkActive="router-link-active"
						>
							Set Up Account
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
