<div class="m-3">
	<div class="modal-header align-items-center">
		<h2 class="modal-title text-custom-black mb-0" id="modal-basic-title">
			<span *ngIf="!modelData">Create New Client</span>
			<span *ngIf="modelData">Update Client</span>
		</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="dataForm">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-custom-black">Registered Business Name*</label>
						<input
							type="text"
							class="form-control bg-white-200"
							id="businessName"
							placeholder=""
							formControlName="registeredName"
							[readonly]="form['id'].value"
						/>
						<div class="text-left" *ngFor="let error of errorMessages.registeredName">
							<ng-container
								*ngIf="
									form['registeredName'].hasError(error.type) &&
									(form['registeredName'].dirty || form['registeredName'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-custom-black"> Business Entity Type* </label>
						<select
							class="form-select text-capitalize bg-white-200"
							aria-label="select entity"
							formControlName="type"
						>
							<option [value]="item" *ngFor="let item of businessType" [disabled]="form['id'].value">
								<span>{{ item }}</span>
							</option>
						</select>
						<div class="text-left" *ngFor="let error of errorMessages.type">
							<ng-container
								*ngIf="
									form['type'].hasError(error.type) && (form['type'].dirty || form['type'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-custom-black"> Industry Type* </label>
						<select
							class="form-select text-capitalize bg-white-200"
							aria-label="select industry"
							formControlName="industry"
						>
							<option [value]="item" *ngFor="let item of industryType" [disabled]="form['id'].value">
								<span>{{ item }}</span>
							</option>
						</select>
						<div class="text-left" *ngFor="let error of errorMessages.industry">
							<ng-container
								*ngIf="
									form['industry'].hasError(error.type) &&
									(form['industry'].dirty || form['industry'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-custom-black"> First Name* </label>
						<input
							type="text"
							class="form-control"
							id="firstName"
							placeholder=""
							formControlName="firstName"
							[imask]="alphabetsMask"
						/>
						<div class="text-left" *ngFor="let error of errorMessages.firstName">
							<ng-container
								*ngIf="
									form['firstName'].hasError(error.type) &&
									(form['firstName'].dirty || form['firstName'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-custom-black"> Last Name* </label>
						<input
							type="text"
							class="form-control"
							id="lastName"
							placeholder=""
							formControlName="lastName"
							[imask]="alphabetsMask"
						/>
						<div class="text-left" *ngFor="let error of errorMessages.lastName">
							<ng-container
								*ngIf="
									form['lastName'].hasError(error.type) &&
									(form['lastName'].dirty || form['lastName'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-custom-black"> Mobile Number* </label>
						<app-mobile-number
							[formControlMobileNumber]="dataForm.get('mobileNumber')"
							[formControlCountryCode]="dataForm.get('countryCode')"
							[errorValidator]="errorMessages.mobileNumber"
							(validNumberEvent)="receiveValidNumberEvent($event)"
						>
						</app-mobile-number>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label for="exampleFormControlInput1" class="form-label text-custom-black">
							Email address*
						</label>
						<input
							type="email"
							class="form-control bg-white-200"
							id="email"
							placeholder=""
							formControlName="email"
							oninput="this.value = this.value.toLowerCase()"
						/>
						<div class="text-left" *ngFor="let error of errorMessages.email">
							<ng-container
								*ngIf="
									form['email'].hasError(error.type) && (form['email'].dirty || form['email'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
						<label class="form-label text-primary"> Payment Type*</label>
						<select
							class="form-select text-capitalize bg-white-200"
							aria-label="select industry"
							formControlName="connectionType"
						>
							<option [value]="connectionType.POST_PAID">
								<span>Postpaid</span>
							</option>
							<option [value]="connectionType.PRE_PAID">
								<span>Prepaid</span>
							</option>
						</select>
						<div class="text-left" *ngFor="let error of errorMessages.connectionType">
							<ng-container
								*ngIf="
									form['connectionType'].hasError(error.type) &&
									(form['connectionType'].dirty || form['connectionType'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 mb-3">
					<div class="form-group">
						<label class="form-label text-custom-black"> Business PAN* </label>
						<input
							type="text"
							class="form-control"
							id="panNumber"
							placeholder=""
							formControlName="panNumber"
							oninput="this.value = this.value.toUpperCase()"
						/>
						<div class="text-left" *ngFor="let error of errorMessages.panNumber">
							<ng-container
								*ngIf="
									form['panNumber'].hasError(error.type) &&
									(form['panNumber'].dirty || form['panNumber'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 mb-3">
					<div class="form-group">
						<label class="form-label text-custom-black"> GST Number*</label>

						<div class="d-flex">
							<input
								type="text"
								class="form-control"
								id="gstNumber"
								placeholder=""
								formControlName="gstNumber"
								oninput="this.value = this.value.toUpperCase()"
							/>
							<button
								type="button"
								class="btn btn-outline-primary mx-4"
								(click)="searchGST()"
								*ngIf="!form['gstDetails'].value"
							>
								Verify
							</button>
							<button
								type="button"
								class="btn btn-outline-secondary mx-4"
								*ngIf="form['gstDetails'].value"
								disabled
							>
								<img src="assets/icons/check-circle-broken.svg" class="img-fluid" />
								<span class="fw-bold text-custom-black ms-1">Verified</span>
							</button>
						</div>
						<div class="card border-0 bg-primary-200 rounded mt-3" *ngIf="form['gstDetails'].value">
							<div class="card-body">
								<div class="row">
									<div class="col-3">
										<strong class="text-primary-300">Business Name:</strong>
									</div>
									<div class="col-8">
										<span class="text-primary-300">{{ form['gstDetails'].value?.tradeName }}</span>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-3">
										<strong class="text-primary-300">Address:</strong>
									</div>
									<div class="col-8">
										<span class="text-primary-300">{{
											form['gstDetails'].value.address['registered_address']
										}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="text-left" *ngFor="let error of errorMessages.gstNumber">
							<ng-container
								*ngIf="
									form['gstNumber'].hasError(error.type) &&
									(form['gstNumber'].dirty || form['gstNumber'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label class="form-label text-primary"> Verification Checks</label>
						<div class="table-responsive table-plan-feature">
							<table class="table table-bordered border-black">
								<tbody>
									<tr *ngFor="let item$ of form['verificationCheck'].value; let index">
										<td>
											<input
												id="item-{{ index }}"
												class="form-check-input form-custom-check-input"
												type="checkbox"
												[(ngModel)]="item$.selected"
												[ngModelOptions]="{ standalone: true }"
												(change)="addRemoveItem($event, item$)"
												[checked]="item$.checked"
												[disabled]="item$.value === 'aadhar_card'"
											/>
										</td>
										<td>
											{{ item$.title }}
										</td>
										<td class="text-center">
											<input
												type="number"
												class="form-control"
												id="item-price-{{ index }}"
												placeholder="Enter Cost"
												[(ngModel)]="item$.price"
												[ngModelOptions]="{ standalone: true }"
												(keypress)="numberOnly($event)"
												[disabled]="
													(!item$.selected && item$.value !== 'aadhar_card') ||
													item$.value === 'physical_address'
												"
											/>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer border-0">
		<button type="button" class="btn btn-outline-primary" (click)="dismissModal()">Cancel</button>
		<button type="button" class="btn btn-custom-primary ms-4" (click)="onSubmit()">Save</button>
	</div>
</div>
