<div class="container-fluid page-padding">
	<div class="row justify-content-between align-items-center">
		<div class="col-lg-3 col-md-4 col-sm-12">
			<h2 class="text-custom-black fs-3 fw-bold">Clients</h2>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-12 text-end mb-3" *appIsGranted="'ADD'">
			<button type="button" class="btn btn-primary w-100" (click)="add()">+ Add Client</button>
		</div>
	</div>

	<div class="d-flex justify-content-end" *ngIf="selectedData.length > 0">
		<button class="btn btn-white border-primary bg-white px-2 pb-1">
			<span *appIsGranted="'DELETE'" role="button" (click)="openConfirmBulkDelete()" ngbTooltip="Bulk Delete">
				<iconify-icon class="fs-5 text-primary" icon="material-symbols:delete-outline"></iconify-icon>
			</span>
		</button>
	</div>

	<form [formGroup]="filterForm">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="form-group">
					<label class="form-label text-custom-black">Search</label>
					<div class="input-group flex-nowrap">
						<span class="input-group-text bg-transparent search-input-group" id="addon-wrapping">
							<mat-icon mat-list-icon class="text-custom-black-50">search</mat-icon>
						</span>
						<input
							type="text"
							class="form-control search-form-control bg-transparent"
							placeholder="Search"
							aria-label="search"
							formControlName="search"
							(keyup)="applyFilters()"
						/>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-12">
				<div class="form-group">
					<label class="form-label text-custom-black">Select Status</label>
					<select
						class="form-select bg-transparent text-capitalize"
						aria-label="select example"
						(change)="applyFilters()"
						formControlName="status"
					>
						<option [value]="item.name" *ngFor="let item of statusList">
							<span>{{ item.label }}</span>
						</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="form-group d-flex flex-column">
					<label class="form-label text-custom-black">Select Date</label>
					<app-date-picker [isRangePicker]="true" [dateForm]="filterForm" (change)="applyFilters()">
					</app-date-picker>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 mt-3">
				<button class="btn btn-outline-primary w-100" (click)="clearFilter()">Clear Filter</button>
			</div>
		</div>
	</form>

	<ng-container>
		<div class="table-responsive mt-3">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<ng-container *ngFor="let item of headerColumn">
							<th scope="col" *ngIf="item.sorting" [sortable]="item.value" (sort)="onSort($event)">
								{{ item.label }}
							</th>
							<th scope="col" *ngIf="!item.sorting">
								{{ item.label }}
							</th>
						</ng-container>
					</tr>
				</thead>
				<tbody *ngIf="dataList['count'] > 0">
					<tr *ngFor="let item of dataList['rows']; let i = index">
						<td>
							<div class="form-check">
								<input
									class="form-check-input form-custom-check-input"
									type="checkbox"
									[id]="i"
									(change)="addAndRemove($event, item)"
								/>
							</div>
						</td>
						<td class="text-capitalize text-wrap">
							{{ item.name | truncate }}
						</td>
						<td class="text-wrap">
							{{ item?.businessDetails?.registeredName || '-' | truncate }}
						</td>
						<td class="text-wrap">
							{{ item?.businessDetails?.connectionType || '-' | truncate }}
						</td>
						<td>
							<span>{{ item.createdAt | date: 'dd MMM YYYY' }}</span>
						</td>
						<td>
							<span
								class="badge badge-success badge-table-status text-capitalize"
								*ngIf="item.status === defaultStatus.ACTIVE"
								>&#9679; {{ customStatus(item.status) }}
							</span>
							<span
								class="badge badge-warning badge-table-status text-capitalize"
								*ngIf="[defaultStatus.ON_BOARDED, defaultStatus.PENDING].includes(item.status)"
							>
								&#9679; {{ customStatus(item.status) }}
							</span>
							<span
								class="badge badge-danger badge-table-status text-capitalize"
								*ngIf="[defaultStatus.BLOCKED, defaultStatus.DISAPPROVED].includes(item.status)"
							>
								&#9679; {{ customStatus(item.status) }}
							</span>
						</td>
						<td>
							<div class="d-flex flex-row">
								<ng-container
									*ngIf="item.isAPIKeyGenerated && [defaultStatus.ACTIVE].includes(item.status)"
								>
									<span
										class="me-2"
										*appIsGranted="'ADD'"
										role="button"
										ngbTooltip="Copy API KEY"
										(click)="getOrGenerateAPIKey(i)"
									>
										<iconify-icon class="fs-5 text-custom-black-50" icon="bx:copy"></iconify-icon>
									</span>
								</ng-container>
								<ng-container
									*ngIf="!item.isAPIKeyGenerated && [defaultStatus.ACTIVE].includes(item.status)"
								>
									<span
										class="me-2"
										*appIsGranted="'ADD'"
										role="button"
										ngbTooltip="Generate API KEY"
										(click)="getOrGenerateAPIKey(i)"
									>
										<iconify-icon
											class="fs-5 text-custom-black-50"
											icon="majesticons:key-line"
										></iconify-icon>
									</span>
								</ng-container>
								<span
									class="me-2"
									*appIsGranted="'EDIT'"
									role="button"
									ngbTooltip="Edit"
									(click)="edit(item)"
								>
									<iconify-icon
										class="fs-5 text-custom-black-50"
										icon="iconamoon:edit-light"
									></iconify-icon>
								</span>
								<span
									class="me-2"
									*appIsGranted="'VIEW'"
									role="button"
									ngbTooltip="View"
									(click)="view(item)"
								>
									<iconify-icon class="fs-5 text-custom-black-50" icon="iwwa:info"></iconify-icon>
								</span>
								<ng-container *appIsGranted="'EDIT'">
									<span
										class="me-2"
										role="button"
										*ngIf="
											[
												defaultStatus.ON_BOARDED,
												defaultStatus.PENDING,
												defaultStatus.DISAPPROVED
											].includes(item.status)
										"
										ngbTooltip="Approved"
									>
										<iconify-icon
											class="fs-5 text-custom-black-50"
											icon="mdi:tick-circle-outline"
											(click)="openConfirmStatus(item, defaultStatus.ACTIVE)"
										></iconify-icon>
									</span>
									<span
										class="me-2"
										role="button"
										*ngIf="
											[
												defaultStatus.ON_BOARDED,
												defaultStatus.PENDING,
												defaultStatus.DISAPPROVED
											].includes(item.status)
										"
										ngbTooltip="Disapproved"
									>
										<iconify-icon
											class="fs-5 text-custom-black-50"
											icon="radix-icons:cross-circled"
											(click)="openConfirmStatus(item, defaultStatus.DISAPPROVED)"
										></iconify-icon>
									</span>
								</ng-container>

								<span *appIsGranted="'EDIT'">
									<div
										class="form-check form-switch"
										*ngIf="[defaultStatus.ACTIVE, defaultStatus.BLOCKED].includes(item.status)"
									>
										<input
											class="form-check-input"
											[id]="item.id"
											(change)="toggleCheck($event, item)"
											type="checkbox"
											role="switch"
											[ngbTooltip]="item.status === defaultStatus.ACTIVE ? 'Block' : 'Active'"
											[checked]="item.status === defaultStatus.ACTIVE"
										/>
									</div>
								</span>

								<span
									class="me-2"
									*appIsGranted="'DELETE'"
									role="button"
									(click)="openConfirmDelete(item)"
									ngbTooltip="Delete"
								>
									<iconify-icon
										class="fs-5 text-custom-black-50"
										icon="ant-design:delete-outlined"
									></iconify-icon>
								</span>
							</div>
							<!-- <div ngbDropdown container="body">
								<span type="button" ngbDropdownToggle>
									<mat-icon>more_vert</mat-icon>
								</span>
								<div ngbDropdownMenu>
									<button ngbDropdownItem class="btn" (click)="edit(item)" *appIsGranted="'EDIT'">
										Edit
									</button>
									<button ngbDropdownItem class="btn" (click)="view(item)" *appIsGranted="'VIEW'">
										View Details
									</button>
									<ng-container *appIsGranted="'EDIT'">
										<button *ngIf="item.status === defaultStatus.ACTIVE" ngbDropdownItem
											class="btn text-capitalize"
											(click)="openConfirmStatus(item, defaultStatus.BLOCKED)">
											Block
										</button>
										<button *ngIf="item.status === defaultStatus.BLOCKED" ngbDropdownItem
											class="btn text-capitalize"
											(click)="openConfirmStatus(item, defaultStatus.ACTIVE)">
											{{ defaultStatus.ACTIVE }}
										</button>
									</ng-container>
									<div *appIsGranted="'EDIT'">
										<button *ngIf="
												[defaultStatus.ON_BOARDED, defaultStatus.PENDING].includes(item.status)
											" ngbDropdownItem class="btn text-capitalize" (click)="openConfirmStatus(item, defaultStatus.DISAPPROVED)">
											{{ defaultStatus.DISAPPROVED }}
										</button>
									</div>

									<div *appIsGranted="'EDIT'">
										<button *ngIf="
												[defaultStatus.ON_BOARDED, defaultStatus.PENDING].includes(item.status)
											" ngbDropdownItem class="btn text-capitalize" (click)="openConfirmStatus(item, defaultStatus.ACTIVE)">
											{{ defaultStatus.APPROVED }}
										</button>
									</div>

									<button *appIsGranted="'DELETE'" ngbDropdownItem class="btn text-danger"
										(click)="openConfirmDelete(item)">
										Delete
									</button>
								</div>
							</div> -->
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="dataList['count'] === 0">
					<tr>
						<td class="text-center" [attr.colspan]="headerColumn.length">{{ OPTIONS?.noRecord }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<app-pagination
			[collectionSize]="collectionSize"
			[(page)]="page"
			*ngIf="dataList['count'] > 0"
			[pageSize]="pageSize"
			(pageChange)="onPageChange($event)"
			[maxSize]="5"
		></app-pagination>
	</ng-container>
</div>
