<div class="card border-0 shadow-color" style="height: 100%; max-height: 100%">
	<div class="card-body">
		<label class="text-custom-primary-dark fw-bold fs-6"> Complete Case by Severity </label>
		<p class="text-custom-primary-dark">Last 30 days activity records</p>

		<ng-container *ngIf="chartData.length > 0">
			<app-graph
				[chartType]="'doughnut'"
				[chartLabels]="chartLabels"
				[chartDataSets]="chartData"
				[chartOptions]="chartOptions"
			></app-graph>
		</ng-container>

		<p *ngIf="chartData.length === 0">{{ OPTIONS?.noRecord }}</p>
	</div>
	<div class="card-footer bg-transparent border-0">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let item of verificationLevelList">
				<div class="d-flex">
					<div class="flex-shrink-0">
						<img [src]="getVerificationIcon(item)" class="img-fluid" width="12" />
					</div>
					<div class="flex-grow-1 ms-1">
						<label class="small">{{ item.label }}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
