<div class="">
	<div class="modal-body plan-card p-0">
		<div
			class="card p-0 plan-card-top-border border"
			[ngClass]="{
				'border-green': modelData.planFeature.length >= 13,
				'border-blue': modelData.planFeature.length >= 6 && modelData.planFeature.length < 13,
				'border-yellow': modelData.planFeature.length < 6
			}"
		>
			<div class="plan-banner">
				<img [src]="'assets/images/plan-banner-' + getColor(modelData) + '.svg'" />
			</div>
			<div class="card-body px-4">
				<div class="ps-5">
					<div class="d-flex justify-content-between align-items-center mb-2">
						<h3 class="text-custom-black text-capitalize fs-5 fw-bolder mb-0">
							{{ modelData.title }}
						</h3>
						<button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
					</div>
					<p class="text-custom-black-50">{{ modelData?.description }}</p>
				</div>

				<div class="d-flex align-items-center mb-4 plan-features" *ngFor="let feature of modelData.planFeature">
					<div class="">
						<iconify-icon
							class="check-box-icon"
							icon="subway:tick"
							[ngClass]="{
								'check-green': modelData.planFeature.length >= 13,
								'check-blue': modelData.planFeature.length >= 6 && modelData.planFeature.length < 13,
								'check-yellow': modelData.planFeature.length < 6
							}"
						></iconify-icon>
					</div>
					<p class="text-custom-black-50 text-capitalize mb-1 ps-3">
						{{ getPlanTitle(feature)?.label }}
					</p>
				</div>
			</div>

			<div class="card-footer border-0 bg-transparent">
				<div class="card mb-2 shadow-color">
					<div class="card-body p-2">
						<div class="d-flex align-items-center">
							<div class="flex-shrink-0">
								<iconify-icon
									[class]="'btn-plan bg-' + getColor(modelData) + '-total-amount'"
									icon="material-symbols:currency-rupee"
								></iconify-icon>
							</div>
							<div class="flex-grow-1 ms-2">
								<h4 class="text-custom-black-50 mb-0">Total Amount</h4>
							</div>
							<div class="flex-grow-1 ms-2 text-end">
								<label class="text-custom-black fw-bold"> ₹ {{ modelData?.totalAmount }} </label>
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-2 shadow-color">
					<div class="card-body p-2">
						<div class="d-flex align-items-center">
							<div class="flex-shrink-0">
								<iconify-icon
									[class]="'btn-plan bg-' + getColor(modelData) + '-cost-verification'"
									icon="icon-park-outline:database-position"
								></iconify-icon>
							</div>
							<div class="flex-grow-1 ms-2">
								<h4 class="text-custom-black-50 mb-0">Cost per Verification</h4>
							</div>
							<div class="flex-grow-1 ms-2 text-end">
								<label class="text-custom-black fw-bold">
									₹ {{ modelData?.amountPerVerification }}
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-2 shadow-color">
					<div class="card-body p-2">
						<div class="d-flex align-items-center">
							<div class="flex-shrink-0">
								<iconify-icon
									[class]="'btn-plan bg-' + getColor(modelData) + '-num-verification'"
									icon="mdi:tick-circle-outline"
								></iconify-icon>
							</div>
							<div class="flex-grow-1 ms-2">
								<h4 class="text-custom-black-50 mb-0">Number of Verifications</h4>
							</div>
							<div class="flex-grow-1 ms-2 text-end">
								<label class="text-custom-black fw-bold">
									{{ modelData?.noOfVerification }}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
