<div class="card border-0 shadow-color" style="height: 386px; max-height: 100%">
	<div class="card-body">
		<label class="text-custom-primary-dark fw-bold fs-6"> Recent application details </label>
		<ul class="list-group mt-2">
			<li class="list-group-item py-3 border-0" *ngFor="let item of dataList?.rows">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex flex-row align-items-center">
						<div class="flex-shrink-0">
							<img
								class="rounded-circle"
								width="44"
								height="44"
								[src]="item?.profilePicture || 'assets/icons/avatar.svg'"
							/>
						</div>
						<div class="flex-grow-1 ms-3">
							<p class="mb-0 text-custom-primary-dark fw-bold">{{ item.name || '-' | truncate }}</p>
							<small class="mb-0text-custom-primary-dark opacity-90">{{
								item?.designation || '-' | truncate
							}}</small>
						</div>
					</div>
					<div class="text-end">
						<img
							[src]="
								item.verificationStatus === verificationStatus.PROTO_VERIFIED
									? 'assets/icons/outline-green-tick.svg'
									: 'assets/icons/outline-red-cross.svg'
							"
							width="14"
							height="14"
						/>
					</div>
				</div>
			</li>
		</ul>
		<p *ngIf="dataList.count === 0">{{ OPTIONS?.noRecord }}</p>
	</div>
</div>
