<ng-container>
	<div class="table-responsive mt-3">
		<table class="table table-hover">
			<thead>
				<tr>
					<ng-container *ngFor="let item of headerColumn">
						<th scope="col" *ngIf="item.sorting" [sortable]="item.value" (sort)="onSort($event)">
							{{ item.label }}
						</th>
						<th scope="col" *ngIf="!item.sorting">
							{{ item.label }}
						</th>
					</ng-container>
				</tr>
			</thead>
			<tbody *ngIf="dataList['count'] > 0">
				<tr *ngFor="let item of dataList['rows']">
					<td class="text-capitalize text-wrap">
						{{ item.user?.businessDetails?.registeredName | truncate }}
					</td>
					<td class="text-wrap">{{ item?.createdAt | date: 'dd MMM YYYY' }}</td>
					<td class="text-wrap">{{ item?.noOfVerification }}</td>
					<td class="text-wrap">₹ {{ item?.amountPerVerification }}</td>
					<td class="text-wrap">₹ {{ item?.totalAmount }}</td>
					<td>
						<span class="badge badge-success badge-table-status text-capitalize" *ngIf="item.isPaid">
							paid
						</span>
						<span
							type="button"
							(click)="openConfirmStatus(item)"
							class="badge badge-warning badge-table-status text-capitalize"
							*ngIf="!item.isPaid"
							ngbTooltip="Mark as paid"
						>
							pending
						</span>
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="dataList['count'] === 0">
				<tr>
					<td class="text-center" [attr.colspan]="headerColumn.length">{{ OPTIONS?.noRecord }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<app-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		*ngIf="dataList['count'] > 0"
		[pageSize]="pageSize"
		(pageChange)="onPageChange($event)"
		[maxSize]="5"
	></app-pagination>
</ng-container>
