<div class="m-3">
	<div class="modal-header align-items-center">
		<h2 class="modal-title text-custom-black mb-0" id="modal-basic-title">
			<span *ngIf="!modelData">Create New Region</span>
			<span *ngIf="modelData">Update Region</span>
		</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="dataForm">
			<div class="row">
				<div class="col-12 mb-3">
					<div class="form-group">
						<label class="form-label text-primary">Title</label>
						<input type="text" class="form-control" id="title" placeholder="" formControlName="title" />
						<div class="text-left" *ngFor="let error of errorMessages.title">
							<ng-container
								*ngIf="
									form['title'].hasError(error.type) && (form['title'].dirty || form['title'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12 mb-3">
					<div class="form-group">
						<label class="form-label text-primary">Description (Optional)</label>
						<textarea
							type="text"
							class="form-control"
							id="description"
							placeholder=""
							rows="4"
							formControlName="description"
						></textarea>
						<div class="text-left" *ngFor="let error of errorMessages.description">
							<ng-container
								*ngIf="
									form['description'].hasError(error.type) &&
									(form['description'].dirty || form['description'].touched)
								"
							>
								<span class="text-danger">{{ error.message }}</span>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer border-0">
		<button type="button" class="btn btn-outline-primary" (click)="dismissModal()">Cancel</button>
		<button type="button" class="btn btn-custom-primary ms-4" (click)="onSubmit()">Submit</button>
	</div>
</div>
