<div class="container-fluid page-padding">
	<div
		class="d-flex justify-content-between align-items-center"
		*ngIf="![roles.EMPLOYEE].includes(currentUser?.role)"
	>
		<label class="text-custom-black-80 fs-4 fw-bold"> {{ userData?.name }}'s Verification Details </label>
	</div>
	<div *ngIf="![roles.EMPLOYEE].includes(currentUser?.role)">
		<app-status-bar
			[checkName]="form['type'].value"
			[inputData]="form['id'].value ? dataForm.getRawValue() : null"
			[currentUser]="currentUser"
		>
		</app-status-bar>
	</div>

	<div class="card my-4 px-3" [ngClass]="{ 'opacity-50': isFormDisabled }">
		<div class="card-header bg-transparent">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex justify-content-start align-items-center py-2">
					<img src="assets/images/global-database-check.svg" class="img-fluid" />
					<h2 class="text-custom-black-80 fw-bold mb-0 ms-3">Global Database Check</h2>
				</div>
				<span class="text-custom-black-80" *ngIf="globalCheck?.updatedAt">
					Document Submitted on: {{ globalCheck?.updatedAt | date: 'dd/MM/yyyy' }}
				</span>
			</div>
		</div>
		<ng-container>
			<form [formGroup]="dataForm">
				<div class="table-responsive mt-3 mb-2">
					<table class="table table-hover table-striped">
						<thead>
							<tr class="bg-primary-200">
								<ng-container *ngFor="let item of headerColumn">
									<th
										scope="col"
										*ngIf="item.sorting"
										[sortable]="item.value"
										(sort)="onSort($event)"
									>
										{{ item.label }}
									</th>
									<th scope="col" *ngIf="!item.sorting">
										{{ item.label }}
									</th>
								</ng-container>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-capitalize text-wrap">Candidate's Name</td>
								<td class="text-wrap">
									{{ aadharCard?.additionalDetails?.fullName || userData?.name }}
								</td>
								<td class="text-wrap">
									{{ aadharCard?.additionalDetails?.fullName || userData?.name }}
								</td>
							</tr>
							<tr>
								<td class="text-capitalize text-wrap">Father’s Name</td>
								<td class="text-wrap">
									{{ aadharCard?.additionalDetails?.parentName || '-' }}
								</td>
								<td class="text-wrap">
									{{ aadharCard?.additionalDetails?.parentName || '-' }}
								</td>
							</tr>
							<tr>
								<td class="text-wrap">Date of Birth</td>
								<td class="text-wrap">
									{{ aadharCard?.additionalDetails?.dob || '-' }}
								</td>
								<td class="text-wrap">
									{{ aadharCard?.additionalDetails?.dob || '-' }}
								</td>
							</tr>
							<tr>
								<td class="text-wrap">Date of Verification</td>
								<td class="text-wrap">
									{{ form['createdAt'].value | date: 'MMM dd, YYYY' || '-' }}
								</td>
								<td class="text-wrap">
									{{ form['createdAt'].value | date: 'MMM dd, YYYY' || '-' }}
								</td>
							</tr>
							<tr>
								<td class="text-capitalize text-wrap">Country Name</td>
								<td class="text-wrap">India</td>
								<td class="text-wrap">India</td>
							</tr>
							<tr>
								<td class="text-capitalize text-wrap">Verified By</td>
								<td class="text-wrap">Automated System</td>
								<td class="text-wrap">Automated System</td>
							</tr>
							<tr>
								<td class="text-wrap">Mode of Verification</td>
								<td class="text-wrap" colspan="2">Online</td>
							</tr>
							<tr>
								<td class="text-capitalize text-wrap">Remarks</td>
								<td class="text-wrap" colspan="2">
									<div
										class="form-group"
										*ngIf="
											[
												roles.PROTO_SUPER_ADMIN,
												roles.PROTO_ADMIN,
												roles.PROTO_USER,
												roles.PROTO_OPERATION
											].includes(currentUser?.role)
										"
									>
										<textarea
											type="text"
											class="form-control"
											id="remark"
											placeholder="Write your remarks here"
											rows="4"
											formControlName="remark"
											[readOnly]="
												![
													roles.PROTO_SUPER_ADMIN,
													roles.PROTO_ADMIN,
													roles.PROTO_OPERATION
												].includes(currentUser?.role)
											"
										></textarea>
										<div class="text-left" *ngFor="let error of errorMessages?.remark">
											<ng-container
												*ngIf="
													form['remark'].hasError(error.type) &&
													(form['remark'].dirty || form['remark'].touched)
												"
											>
												<span class="text-danger">{{ error.message }}</span>
											</ng-container>
										</div>
									</div>
									<span
										*ngIf="
											![
												roles.PROTO_SUPER_ADMIN,
												roles.PROTO_ADMIN,
												roles.PROTO_USER,
												roles.PROTO_OPERATION
											].includes(currentUser?.role)
										"
									>
										{{ form['remark'].value }}
									</span>
								</td>
							</tr>
							<tr>
								<td class="text-capitalize text-wrap">Status</td>
								<td class="text-wrap" colspan="2">
									<select
										*ngIf="
											[
												roles.PROTO_SUPER_ADMIN,
												roles.PROTO_ADMIN,
												roles.PROTO_USER,
												roles.PROTO_OPERATION
											].includes(currentUser?.role)
										"
										name="status"
										id="status"
										[style.color]="getLevelColor"
										class="form-select text-capitalize"
										aria-label="change status"
										formControlName="status"
									>
										<option value="" selected disabled [hidden]="form['status'].value">
											Choose here
										</option>
										<option
											[value]="item.name"
											[style.color]="item.color"
											*ngFor="let item of statusList"
										>
											{{ item?.label }}
										</option>
									</select>
									<span
										class="text-capitalize"
										*ngIf="
											![
												roles.PROTO_SUPER_ADMIN,
												roles.PROTO_ADMIN,
												roles.PROTO_USER,
												roles.PROTO_OPERATION
											].includes(currentUser?.role)
										"
									>
										{{ removeUnderScore(form['status'].value) }}
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div
					class="row"
					*ngIf="
						[roles.PROTO_SUPER_ADMIN, roles.PROTO_ADMIN, roles.PROTO_OPERATION].includes(currentUser?.role)
					"
				>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="form-group">
							<label class="form-label text-custom-black">
								<span> Select Vendor* </span>
							</label>
							<div class="input-group">
								<ng-select
									#select
									class="form-control text-capitalize bg-white-200 mb-0"
									[items]="vendorList"
									[virtualScroll]="true"
									bindLabel="name"
									bindValue="id"
									[dropdownPosition]="'bottom'"
									[searchable]="false"
									[clearable]="false"
									placeholder=""
									formControlName="vendorId"
									(scrollToEnd)="onScrollVendor()"
									(search)="searchVendor($event)"
								>
									<ng-template ng-label-tmp let-item="item">
										{{ item?.name }}
									</ng-template>
								</ng-select>
								<button
									class="btn btn-outline-send py-1"
									[disabled]="!form['id'].value || dataForm.disabled"
									type="button"
									(click)="sendEmailToVendor()"
								>
									<iconify-icon class="fs-5 pt-1 text-primary" icon="bi:send"></iconify-icon>
								</button>
							</div>
							<div class="text-left" *ngFor="let error of errorMessages.vendorId">
								<ng-container
									*ngIf="
										form['vendorId'].hasError(error.type) &&
										(form['vendorId'].dirty || form['vendorId'].touched)
									"
								>
									<span class="text-danger"> {{ error.message }} Vendor </span>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
				<div class="row my-2">
					<div
						class="col-lg-6 col-md-6 col-sm-12"
						*ngFor="let _ of verificationMedia.controls; let i = index"
					>
						<div class="form-group">
							<label class="form-label text-primary"> {{ _.value.label }} </label>
							<input
								hidden
								#fileInput0
								type="file"
								class="form-control"
								onclick="this.value = null"
								accept="image/png,image/jpg,image/jpeg,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
								(change)="uploadFile($event, i)"
								capture
							/>
							<div class="input-group file-input-group">
								<input
									type="text"
									readonly
									class="form-control"
									[aria-label]="_.value.label"
									[placeholder]="_.value.label"
									[ngClass]="
										!_.value.filePath &&
										![
											roles.PROTO_SUPER_ADMIN,
											roles.PROTO_ADMIN,
											roles.PROTO_USER,
											roles.PROTO_OPERATION,
											roles.EMPLOYEE
										].includes(currentUser?.role)
											? 'border-end-1 rounded-end'
											: 'border-end-0'
									"
								/>
								<span
									role="button"
									class="input-group-text bg-transparent border-start-0 border-end-0"
									*ngIf="_.value.filePath"
									(click)="!_.value.filePath ? null : showImage(_.value.filePath)"
									ngbTooltip="View"
								>
									<iconify-icon class="fs-5 text-primary" icon="iconamoon:eye"> </iconify-icon>
								</span>
								<span
									role="button"
									class="input-group-text bg-transparent border-start-0"
									*ngIf="_.value.filePath"
									(click)="!_.value.filePath ? null : downloadDocument(_.value.filePath)"
									ngbTooltip="Download"
									[ngClass]="
										![
											roles.PROTO_SUPER_ADMIN,
											roles.PROTO_ADMIN,
											roles.PROTO_USER,
											roles.PROTO_OPERATION,
											roles.EMPLOYEE
										].includes(currentUser?.role)
											? 'border-end-1 rounded-end'
											: 'border-end-0'
									"
								>
									<iconify-icon class="fs-5 text-primary" icon="bi:download"> </iconify-icon>
								</span>
								<ng-container
									*ngIf="
										[
											roles.PROTO_SUPER_ADMIN,
											roles.PROTO_ADMIN,
											roles.PROTO_USER,
											roles.PROTO_OPERATION
										].includes(currentUser?.role)
									"
								>
									<ng-container *appIsGranted="'EDIT'">
										<span
											role="button"
											class="input-group-text bg-transparent border-start-0 rounded-end"
											(click)="dataForm.disabled ? null : fileInput0.click()"
											*ngIf="!_.value.filePath"
											ngbTooltip="Upload File"
										>
											<iconify-icon class="fs-5 text-primary" icon="iconoir:attachment">
											</iconify-icon>
										</span>
										<span
											role="button"
											class="input-group-text bg-transparent border-start-0 rounded-end"
											*ngIf="_.value.filePath"
											(click)="dataForm.disabled ? null : setControl(_.value, true, i)"
											ngbTooltip="Remove"
										>
											<iconify-icon class="fs-5 text-primary" icon="ant-design:delete-outlined">
											</iconify-icon>
										</span>
									</ng-container>
								</ng-container>
							</div>
							<div class="text-left" *ngFor="let error of errorMessages.filePath">
								<ng-container
									*ngIf="
										_.controls['filePath'].hasError(error.type) &&
										(_.controls['filePath'].dirty || _.controls['filePath'].touched)
									"
								>
									<span class="text-danger">{{ error.message }}</span>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-end my-4" *appIsGranted="'EDIT'">
					<button
						type="button"
						class="btn btn-primary ms-4"
						(click)="onSubmit()"
						*ngIf="
							[roles.PROTO_SUPER_ADMIN, roles.PROTO_ADMIN, roles.PROTO_OPERATION].includes(
								currentUser?.role
							)
						"
						[disabled]="dataForm.disabled"
					>
						Submit
					</button>
				</div>
			</form>
		</ng-container>
	</div>

	<div class="d-flex justify-content-end">
		<button type="button" class="btn-preview border-0" (click)="goBack()">
			<img src="assets/icons/arrow-left.svg" class="img-fluid" alt="clip" /> Previous
		</button>
		<button type="button" class="btn-next border-0" (click)="goNext()">
			Next <img src="assets/icons/arrow-right.svg" class="img-fluid" alt="clip" />
		</button>
	</div>

	<div class="mt-4" *ngIf="![roles.EMPLOYEE].includes(currentUser?.role)">
		<app-verification-status></app-verification-status>
	</div>
</div>
